In [4]:
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## **Set up path references**
___

In [15]:
NOTEBOOK = Path.cwd()
print("Notebook directory: {}".format(str(NOTEBOOK)))

PROJECT = NOTEBOOK.resolve().parents[0]
print("Project directory: {}".format(str(PROJECT)))

DATA = PROJECT / "data"
print("Data directory: {}".format(str(DATA)))

listings_99_csv = DATA / "listings_99.csv"
print("Csv file of rental listings scraped from 99.co: {}".format(str(listings_99_csv)))

Notebook directory: C:\Users\ckc3b\Documents\RoomRentalAnalytics\notebook
Project directory: C:\Users\ckc3b\Documents\RoomRentalAnalytics
Data directory: C:\Users\ckc3b\Documents\RoomRentalAnalytics\data
Csv file of rental listings scraped from 99.co: C:\Users\ckc3b\Documents\RoomRentalAnalytics\data\listings_99.csv

## **Exploratory analysis of the rental dataset**
___

In [21]:
rental_df = pd.read_csv(listings_99_csv)
print(f"Total number of rows: {len(rental_df)}")
print("="*60)
rental_df.head()

Total number of rows: 1866
============================================================

,Address,Property_type,Montly_rental_SGD,Train_location,Train_distance_min,Room_type,Dimension,Bathroom,Built-up,Dimension_sqft
0,"Lorong 28 Geylang, Lor 28 Geylang",NaN,1800.0,NaN,NaN,Master room,NaN,NaN,1.0,200.0
1,"Tiong Bahru Estate, 10 Eng Hoon St",Condo,2300.0,NaN,NaN,Master room,NaN,NaN,0.0,400.0
2,"Golden Hill Estate, Li Hwan Dr",NaN,1500.0,Lorong Chuan,4.0,Common room,NaN,NaN,1.0,200.0
3,"Geylang Conservation Area, Geylang Rd",NaN,1750.0,Aljunied,5.0,Master room,NaN,NaN,1.0,200.0
4,"Golden Hill Estate, Li Hwan Dr",NaN,2050.0,Lorong Chuan,4.0,Master room,NaN,NaN,1.0,250.0

In [24]:
# drop redundant Dimension column
rental_df.drop("Dimension", axis=1, inplace=True)
rental_df.head()

,Address,Property_type,Montly_rental_SGD,Train_location,Train_distance_min,Room_type,Bathroom,Built-up,Dimension_sqft
0,"Lorong 28 Geylang, Lor 28 Geylang",NaN,1800.0,NaN,NaN,Master room,NaN,1.0,200.0
1,"Tiong Bahru Estate, 10 Eng Hoon St",Condo,2300.0,NaN,NaN,Master room,NaN,0.0,400.0
2,"Golden Hill Estate, Li Hwan Dr",NaN,1500.0,Lorong Chuan,4.0,Common room,NaN,1.0,200.0
3,"Geylang Conservation Area, Geylang Rd",NaN,1750.0,Aljunied,5.0,Master room,NaN,1.0,200.0
4,"Golden Hill Estate, Li Hwan Dr",NaN,2050.0,Lorong Chuan,4.0,Master room,NaN,1.0,250.0